@{
    ViewData["Title"] = "Jobs";
}

<!-- ============================ Search Form Start================================== -->
<section class="dark-search">
    <div class="container">

        <form class="search-dark-form">
            <div class="row">

                <div class="col-lg-4 col-md-4">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Keywords or Job Title">
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Location">
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="form-group">
                        <select id="category" class="js-states form-control">
                            <option value="">&nbsp;</option>
                            <option value="1">SEO & Web Design</option>
                            <option value="2">Wealth & Healthcare</option>
                            <option value="3">Account / Finance</option>
                            <option value="4">Education</option>
                            <option value="5">Banking Jobs</option>
                        </select>
                    </div>
                </div>

                <div class="col-lg-2 col-md-4">
                    <button type="submit" class="btn btn-search-dark full-width">Filter Jobs</button>
                </div>

            </div>
        </form>

    </div>
</section>
<!-- ============================ Search Form End ================================== -->

<section>
    <div class="container">

        <!-- row -->
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <h4>Total Available Jobs is: @Model.JobCards.Count</h4>
            </div>
        </div>
        <!-- /row -->

        <div class="row">

            <div class="col-md-12">

            @foreach (var job in Model.JobCards) {
                <partial name="_partials/JobResultItemView" model="job" />
            }
               
        <!-- Single Large Job List -->
        @*<div class="job-new-list">
            <div class="vc-thumb">
                <img class="img-fluid rounded-circle" src="https://via.placeholder.com/150x150" alt="c2.jpg">
            </div>
            <div class="vc-content">
                <h5 class="title"><a href="job-detail.html">Web Developer</a><span class="j-full-time">Full Time</span></h5>
                <p>Google Inc</p>
                <div class="rating-review">
                    <i class="ti-star filled"></i>
                    <i class="ti-star filled"></i>
                    <i class="ti-star filled"></i>
                    <i class="ti-star filled"></i>
                    <i class="ti-star"></i>
                </div>
                <ul class="vc-info-list">
                    <li class="list-inline-item"><h5>Sallery</h5> <i class="ti-credit-card"></i>$3.5k-$5k P.A</li>
                    <li class="list-inline-item"><h5>Status</h5>3 days ago</li>
                    <li class="list-inline-item">
                        <h5>Skills</h5>
                        <div class="skills">
                            <span>Html</span><span>Css3</span><span>photoshop</span><span>java</span><span>+3 more</span>
                        </div>
                    </li>
                </ul>
            </div>
            <a class="btn btn-outline-info bn-det" href="job-detail.html">Apply Now<i class="ti-arrow-right ml-1"></i></a>
        </div> *@

       
                
            </div>

        </div>

    </div>
</section>