@model Web.ViewModels.JobSeachViewModel
@{
    ViewData["Title"] = "Listado de Empleos";
}
<feature name="@FeatureFlags.EnableSearch">
    <!-- ============================ Search Form Start================================== -->
    <section class="dark-search">
        <div class="container">

            <form class="search-dark-form" method="get">
                <div class="row">

                    <div class="col-sm-3">
                        <div class="form-group">
                            <input type="text" asp-for="Keyword" class="form-control" placeholder="Palabras clave">
                            <label style="color:white">
                                <input type="checkbox" asp-for="IsRemote" class="i-checks" /> Sólo mostrar posiciones remotas
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3">
                        <div class="form-group">
                            <select asp-for="CategoryId" asp-items="@(new SelectList(Model.Categories, "Id", "Name"))" camelCase="true" data-placeholder="Categoría" data-allowClear="true" class="form-control select2">
                                <option></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3">
                        <div class="form-group">
                            <select asp-for="HireTypeId" asp-items="@(new SelectList(Model.HireTypes, "Id", "Name"))" data-placeholder="Jornada" data-allowClear="true" class="form-control select2">
                                <option></option>
                            </select>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <button type="submit" class="btn btn-search-dark full-width">Buscar empleos</button>
                    </div>

                </div>
            </form>

        </div>
    </section>
    <!-- ============================ Search Form End ================================== -->
</feature>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                @if (Model.Jobs != null && Model.Jobs.Any())
                {
                    @foreach (var job in Model.Jobs)
                    {
                        <partial name="_partials/JobResultItemView" model="job" />
                    }
                }
                else
                {
                    <p class="text-center"> ): no encontramos el empleo que buscas</p>
                }
            </div>

        </div>
        <!-- Pager -->

    </div>
</section>