@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<!-- My Profile -->
<div class="tab-pane active container" id="c-profile">

    <!-- Company Information -->
    <div class="tr-single-box">
        <div class="tr-single-header">
            <h4><i class="ti-home"></i> Company Information</h4>
        </div>

        <div class="tr-single-body">
            <div class="row">

                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="form-group">
                        <label>Company Name</label>
                        <input class="form-control" type="text" value="Drizvato Ltd">
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="form-group">
                        <label>Company Slogan</label>
                        <input class="form-control" type="text" value="Design & Development Company">
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="form-group">
                        <label>Allow Search listing</label>
                        <select id="search-allow" class="js-states form-control">
                            <option value="">&nbsp;</option>
                            <option value="1">Yes</option>
                            <option value="2">No</option>
                        </select>
                    </div>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="form-group">
                        <label>Overview</label>
                        <div id="summernote"><p>Hello Description</p></div>
                    </div>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="form-group">
                        <label>Employer Logo</label>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="customFile">
                            <label class="custom-file-label" for="customFile">Choose file</label>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="form-group">
                        <label>Cover Picture</label>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="customFile2">
                            <label class="custom-file-label" for="customFile2">Choose file</label>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <!-- /Basic Info -->
    <!-- Contact Info -->
    <div class="tr-single-box">
        <div class="tr-single-header">
            <h4><i class="ti-headphone"></i> Contact Info</h4>
        </div>

        <div class="tr-single-body">
            <div class="row">

                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="form-group">
                        <label class="social-nfo">Phone Number</label>
                        <input class="form-control" type="text" value="91 254 548 7584">
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="form-group">
                        <label class="social-nfo">Email</label>
                        <input class="form-control" type="text" value="drizvato@gmail.com">
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="form-group">
                        <label class="social-nfo">Website</label>
                        <input class="form-control" type="text" value="https://drizvato.com">
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="form-group">
                        <label class="social-nfo">Country</label>
                        <input class="form-control" type="text" value="India">
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="form-group">
                        <label class="social-nfo">City</label>
                        <input class="form-control" type="text" value="Chandigarh">
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="form-group">
                        <label class="social-nfo">Complete Address</label>
                        <input class="form-control" type="text" value="2850, Near Gurudwara">
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="form-group">
                        <label class="social-nfo">Latitude</label>
                        <input class="form-control" type="text" value="-0.3306495">
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="form-group">
                        <label class="social-nfo">Longitude</label>
                        <input class="form-control" type="text" value="51.5353994">
                    </div>
                </div>

            </div>
        </div>

    </div>
    <!-- /Contact Info -->
    <!-- Social Account -->
    <div class="tr-single-box">
        <div class="tr-single-header">
            <h4><i class="ti-new-window"></i> Social Account</h4>
        </div>

        <div class="tr-single-body">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="form-group">
                        <label class="social-nfo"><i class="lni-facebook"></i>Facebook URL</label>
                        <input class="form-control" type="text" value="https://facebook.com/">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="form-group">
                        <label class="social-nfo"><i class="lni-linkedin"></i>LinkedIn URL</label>
                        <input class="form-control" type="text" value="https://linkedin.com">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="form-group">
                        <label class="social-nfo"><i class="lni-twitter"></i>Twitter URL</label>
                        <input class="form-control" type="text" value="htps://twitter.com">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="form-group">
                        <label class="social-nfo"><i class="lni-instagram"></i>Instagram URL</label>
                        <input class="form-control" type="text" value="https://instagram.com">
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- /Social Account -->
    <!-- Advance Information -->
    <div class="tr-single-box">
        <div class="tr-single-header">
            <h4><i class="ti-heart"></i> Advance Information</h4>
        </div>

        <div class="tr-single-body">
            <div class="row">

                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="form-group">
                        <label class="social-nfo">Est. Since</label>
                        <input class="form-control" type="text" value="1992">
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="form-group">
                        <label class="social-nfo">Team Size</label>
                        <input class="form-control" type="text" value="80+">
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="form-group">
                        <label class="social-nfo">Branches</label>
                        <input class="form-control" type="text" value="10">
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="form-group">
                        <label class="social-nfo">Business Type</label>
                        <select id="business-type" class="js-states form-control">
                            <option value="">Please Select</option>
                            <option value="1" selected>Limited Company</option>
                            <option value="2">Private Limited</option>
                            <option value="3">C Corporations</option>
                            <option value="4">S Corporations</option>
                        </select>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <!-- /Advance Information -->

    <a href="#" class="btn btn-info btn-md full-width">Save & Update<i class="ml-2 ti-arrow-right"></i></a>

</div>