@{
    ViewBag.Title = "Inicia sesión";
}

@section styles
{
<link href="~/css/theme/bootstrap-social.min.css" rel="stylesheet" />
}

<div class="container">
    @Html.Partial("_Partials/ExternalLoginProviders")
</div>