@using Microsoft.AspNetCore.Authentication

    <div class="page-title-wrap pt-img-wrap">
        <div class="container">
            <div class="col-lg-12 col-md-12">
                <div class="pt-caption text-center">
                    <h1>Inicia Sesión</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <section class="section-no-padding">
        <div class="container">

            <div class="row justify-content-center">

                <div class="col-lg-8 col-md-8 col-sm-12">
                    <partial name="_partials/LoginForm" />
                </div>
            </div>
        </div>
    </section>
    <div class="clearfix"></div>
    