
@{
}
    <div class="page-title-wrap pt-img-wrap" style="background:url(assets/img/bn-4.jpg) no-repeat;">
        <div class="container">
            <div class="col-lg-12 col-md-12">
                <div class="pt-caption text-center">
                    <h1>Inicia Sesión</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <section class="section-no-padding">
        <div class="container">

            <div class="row justify-content-center">

                <div class="col-lg-8 col-md-8 col-sm-12">
                    <div class="modal-body">
                        <div class="social-login">
                 
                            <ul class="social-connect-list">
                                <li>
                                    <a href="#" class="btn connect-fb"><i class="ti-facebook"></i>Login with Facebook</a>
                                </li>
                                <li>
                                    <a href="#" class="btn connect-github"><i class="ti-github"></i>Login with Github</a>
                                </li>
                                <li>
                                    <a href="#" class="btn connect-linked"><i class="ti-linkedin"></i>Login with Linkedin</a>
                                </li>
                                <li>
                                    <a href="#" class="btn connect-gplus"><i class="ti-google"></i>Login with Google</a>
                                </li>
                                <li>
                                    <a href="#" class="btn connect-microsoft"><i class="ti-microsoft"></i>Login with Microsoft</a>
                                </li>
                            </ul>
    
                        </div>


                        
                        </div>
                    </div>
                </div>

            </div>

    
    </section>
    <div class="clearfix"></div>
    