@{
    ViewData["Title"] = "Employers";
}

<!-- ============================ Search Form Start================================== -->
<section class="dark-search">
    <div class="container">

        <form class="search-dark-form">
            <div class="row">

                <div class="col-lg-4 col-md-4">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Title or Employer Name">
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Location">
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="form-group">
                        <select id="category" class="js-states form-control">
                            <option value="">&nbsp;</option>
                            <option value="1">SEO & Web Design</option>
                            <option value="2">Wealth & Healthcare</option>
                            <option value="3">Account / Finance</option>
                            <option value="4">Education</option>
                            <option value="5">Banking Jobs</option>
                        </select>
                    </div>
                </div>

                <div class="col-lg-2 col-md-4">
                    <button type="" class="btn btn-search-dark full-width">Filter Now</button>
                </div>

            </div>
        </form>

    </div>
</section>
<!-- ============================ Search Form End ================================== -->

<section>
    <div class="container">

        <!-- row -->
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <h4>Total Available Employers is: 1256</h4>
            </div>
        </div>
        <!-- /row -->

        <div class="row">

            <!-- Single Employer -->
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="employer-wrap">

                    <div class="employer-cover-image" style="background-image: url(https://via.placeholder.com/1280x855)">
                        <div class="employer-thumb">
                            <a href="#"><img alt="" src="https://via.placeholder.com/150x150" class="avatar avatar-120 photo"></a>
                        </div>
                    </div>
                    <div class="employer-detail">
                        <div class="employer-detail-inner">
                            <h4 class="employer-title"><a class="theme-cl" href="#">Adword Soft</a></h4>
                            <div class="employer-locations"><i class="ti-location-pin text-danger"></i><a href="#">3401 Hillview Street</a>, <a href="#">Canada</a></div>
                            <div class="employer-rating">
                                <i class="ti-star filled"></i>
                                <i class="ti-star filled"></i>
                                <i class="ti-star filled"></i>
                                <i class="ti-star filled"></i>
                                <i class="ti-star"></i>
                            </div>
                            <a class="total-vacancy text-success" href="#">View all 3 Job Positions</a>
                        </div>
                    </div>

                </div>
            </div>

            <!-- Single Employer -->
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="employer-wrap">

                    <div class="employer-cover-image" style="background-image: url(https://via.placeholder.com/1280x855)">
                        <div class="employer-thumb">
                            <a href="#"><img alt="" src="https://via.placeholder.com/150x150" class="avatar avatar-120 photo"></a>
                        </div>
                    </div>
                    <div class="employer-detail">
                        <div class="employer-detail-inner">
                            <h4 class="employer-title"><a class="theme-cl" href="#">Asana Tech</a></h4>
                            <div class="employer-locations"><i class="ti-location-pin text-danger"></i><a href="#">Saint Francis Way</a>, <a href="#">London</a></div>
                            <div class="employer-rating">
                                <i class="ti-star filled"></i>
                                <i class="ti-star filled"></i>
                                <i class="ti-star filled"></i>
                                <i class="ti-star filled"></i>
                                <i class="ti-star"></i>
                            </div>
                            <a class="total-vacancy text-success" href="#">View all 35 Job Positions</a>
                        </div>
                    </div>

                </div>
            </div>

            <!-- Single Employer -->
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="employer-wrap">

                    <div class="employer-cover-image" style="background-image: url(https://via.placeholder.com/1280x855)">
                        <div class="employer-thumb">
                            <a href="#"><img alt="" src="https://via.placeholder.com/150x150" class="avatar avatar-120 photo"></a>
                        </div>
                    </div>
                    <div class="employer-detail">
                        <div class="employer-detail-inner">
                            <h4 class="employer-title"><a class="theme-cl" href="#">Bing Sois</a></h4>
                            <div class="employer-locations"><i class="ti-location-pin text-danger"></i><a href="#">3133 Red Bud Lane</a>, <a href="#">Brazil</a></div>
                            <div class="employer-rating">
                                <i class="ti-star filled"></i>
                                <i class="ti-star filled"></i>
                                <i class="ti-star filled"></i>
                                <i class="ti-star filled"></i>
                                <i class="ti-starfilled"></i>
                            </div>
                            <a class="total-vacancy text-success" href="#">View all 12 Job Positions</a>
                        </div>
                    </div>

                </div>
            </div>

            <!-- Single Employer -->
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="employer-wrap">

                    <div class="employer-cover-image" style="background-image: url(https://via.placeholder.com/1280x855)">
                        <div class="employer-thumb">
                            <a href="#"><img alt="" src="https://via.placeholder.com/150x150" class="avatar avatar-120 photo"></a>
                        </div>
                    </div>
                    <div class="employer-detail">
                        <div class="employer-detail-inner">
                            <h4 class="employer-title"><a class="theme-cl" href="#">Google Pvt</a></h4>
                            <div class="employer-locations"><i class="ti-location-pin text-danger"></i><a href="#">4277 Raintree Boulevard</a>, <a href="#">London</a></div>
                            <div class="employer-rating">
                                <i class="ti-star filled"></i>
                                <i class="ti-star filled"></i>
                                <i class="ti-star filled"></i>
                                <i class="ti-star filled"></i>
                                <i class="ti-star"></i>
                            </div>
                            <a class="total-vacancy text-success" href="#">View all 30 Job Positions</a>
                        </div>
                    </div>

                </div>
            </div>

            <!-- Single Employer -->
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="employer-wrap">

                    <div class="employer-cover-image" style="background-image: url(https://via.placeholder.com/1280x855)">
                        <div class="employer-thumb">
                            <a href="#"><img alt="" src="https://via.placeholder.com/150x150" class="avatar avatar-120 photo"></a>
                        </div>
                    </div>
                    <div class="employer-detail">
                        <div class="employer-detail-inner">
                            <h4 class="employer-title"><a class="theme-cl" href="#">Drive Soft</a></h4>
                            <div class="employer-locations"><i class="ti-location-pin text-danger"></i><a href="#">2999 Forest Avenue</a>, <a href="#">Canada</a></div>
                            <div class="employer-rating">
                                <i class="ti-star filled"></i>
                                <i class="ti-star filled"></i>
                                <i class="ti-star filled"></i>
                                <i class="ti-star filled"></i>
                                <i class="ti-star filled"></i>
                            </div>
                            <a class="total-vacancy text-success" href="#">View all 13 Job Positions</a>
                        </div>
                    </div>

                </div>
            </div>

            <!-- Single Employer -->
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="employer-wrap">

                    <div class="employer-cover-image" style="background-image: url(https://via.placeholder.com/1280x855)">
                        <div class="employer-thumb">
                            <a href="#"><img alt="" src="https://via.placeholder.com/150x150" class="avatar avatar-120 photo"></a>
                        </div>
                    </div>
                    <div class="employer-detail">
                        <div class="employer-detail-inner">
                            <h4 class="employer-title"><a class="theme-cl" href="#">Phonix Soft</a></h4>
                            <div class="employer-locations"><i class="ti-location-pin text-danger"></i><a href="#">1060 Oakmound Road</a>, <a href="#">London</a></div>
                            <div class="employer-rating">
                                <i class="ti-star filled"></i>
                                <i class="ti-star filled"></i>
                                <i class="ti-star filled"></i>
                                <i class="ti-star filled"></i>
                                <i class="ti-star"></i>
                            </div>
                            <a class="total-vacancy text-success" href="#">View all 45 Job Positions</a>
                        </div>
                    </div>

                </div>
            </div>

            <!-- Single Employer -->
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="employer-wrap">

                    <div class="employer-cover-image" style="background-image: url(https://via.placeholder.com/1280x855)">
                        <div class="employer-thumb">
                            <a href="employer-detail.html"><img alt="" src="https://via.placeholder.com/150x150" class="avatar avatar-120 photo"></a>
                        </div>
                    </div>
                    <div class="employer-detail">
                        <div class="employer-detail-inner">
                            <h4 class="employer-title"><a class="theme-cl" href="#">PayPal</a></h4>
                            <div class="employer-locations"><i class="ti-location-pin text-danger"></i><a href="#">12 Loving Acres Road</a>, <a href="#">New York</a></div>
                            <div class="employer-rating">
                                <i class="ti-star filled"></i>
                                <i class="ti-star filled"></i>
                                <i class="ti-star filled"></i>
                                <i class="ti-star filled"></i>
                                <i class="ti-star filled"></i>
                            </div>
                            <a class="total-vacancy text-success" href="employer-detail.html">View all 5 Job Positions</a>
                        </div>
                    </div>

                </div>
            </div>

            <!-- Single Employer -->
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="employer-wrap">

                    <div class="employer-cover-image" style="background-image: url(https://via.placeholder.com/1280x855)">
                        <div class="employer-thumb">
                            <a href="employer-detail.html"><img alt="" src="https://via.placeholder.com/150x150" class="avatar avatar-120 photo"></a>
                        </div>
                    </div>
                    <div class="employer-detail">
                        <div class="employer-detail-inner">
                            <h4 class="employer-title"><a class="theme-cl" href="#">Elix Soft</a></h4>
                            <div class="employer-locations"><i class="ti-location-pin text-danger"></i><a href="#">2022 Virgil Street</a>, <a href="#">USA</a></div>
                            <div class="employer-rating">
                                <i class="ti-star filled"></i>
                                <i class="ti-star filled"></i>
                                <i class="ti-star filled"></i>
                                <i class="ti-star filled"></i>
                                <i class="ti-star"></i>
                            </div>
                            <a class="total-vacancy text-success" href="employer-detail.html">View all 12 Job Positions</a>
                        </div>
                    </div>

                </div>
            </div>

            <!-- Single Employer -->
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="employer-wrap">

                    <div class="employer-cover-image" style="background-image: url(https://via.placeholder.com/1280x855)">
                        <div class="employer-thumb">
                            <a href="employer-detail.html"><img alt="" src="https://via.placeholder.com/150x150" class="avatar avatar-120 photo"></a>
                        </div>
                    </div>
                    <div class="employer-detail">
                        <div class="employer-detail-inner">
                            <h4 class="employer-title"><a class="theme-cl" href="#">Atlassian Pvt</a></h4>
                            <div class="employer-locations"><i class="ti-location-pin text-danger"></i><a href="#">2727 Junkins Avenue</a>, <a href="#">London</a></div>
                            <div class="employer-rating">
                                <i class="ti-star filled"></i>
                                <i class="ti-star filled"></i>
                                <i class="ti-star filled"></i>
                                <i class="ti-star filled"></i>
                                <i class="ti-star filled"></i>
                            </div>
                            <a class="total-vacancy text-success" href="employer-detail.html">View all 10 Job Positions</a>
                        </div>
                    </div>

                </div>
            </div>

        </div>

        <!-- Pagination -->
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span class="ti-arrow-left"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item active"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">...</a></li>
                    <li class="page-item"><a class="page-link" href="#">18</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span class="ti-arrow-right"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Pagination -->

    </div>
</section>