@{
    ViewData["Title"] = "Home Page";
}

<!-- ============================================================== -->
<!-- ============================ Hero Banner  Start================================== -->
<div class="container-fluid home-2 h-100">
    <div class="row align-items-center gray">
        <div class="col-lg-6 col-md-6 pl-5 pr-5 mb-2 hm-space">
            <h2 class="mb-4">Encuentra tu empleo ideal</h2>
            <form class="search-form" method="get" action="@Url.Action("")">
                <div class="row">
                    <div class="form-group col-md-12 col-sm-12 p-0">
                        <i class="ti-search"></i>
                        <input type="text" class="form-control" placeholder="título, descripción, compañía">
                    </div>

                    <div class="form-group col-md-8 col-sm-12  br-all p-0">
                        <select id="category" class="js-states form-control">
                            <option value="">&nbsp;</option>
                            <option value="1">SEO & Web Design</option>
                            <option value="2">Wealth & Healthcare</option>
                            <option value="3">Account / Finance</option>
                            <option value="4">Education</option>
                            <option value="5">Banking Jobs</option>
                        </select>
                    </div>

                    <div class="col-md-4 col-sm-12 p-0 pl-3">
                        <button type="button" class="btn btn-primary full-width"><i class="fa fa-search"></i> Buscar</button>
                    </div>
                </div>
            </form>
        </div>
        <partial name="_partials/Banner" />
    </div>
</div>
<!-- ============================ Hero Banner End ================================== -->
<!-- ============================ Job List Start ================================== -->
<section>
    <div class="container">

        <div class="row">
            <div class="col text-center">
                <div class="sec-heading mx-auto">
                    <p>Últimos empleos</p>
                    <h2>Las publicaciones más recientes</h2>
                </div>
            </div>
        </div>


        @foreach (var job in Model.Jobs)
    {
        <partial name="_partials/RecentJobsResultView" model="job" />
}

        <div class="pr-button-wrap">
            <a class="btn price-btn btn-outline-warning" asp-controller="jobs" asp-action="index">Ver todos<i class="ti-arrow-right ml-2"></i></a>
        </div>
    </div>
</section>
<div class="clearfix"></div>