.highlighted-link
{
    text-decoration: underline;
    font-weight: bold;
}

.control-label {
    font-weight: bold;
}

.btn-info {
    background-color: rgb(20, 177, 187) !important;
    border-color: rgb(20, 177, 187) !important;
}

textarea{
    min-height:300px;
}

.badge-warning{
    color:white;
}

/* Job details
-------------------------------------------------- */
.preserve-spaces {
    white-space: pre-line;
}