<footer class="dark-footer skin-dark-footer">
    <div>
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-6">
                    <div class="footer-widget">
                        <h4 class="widget-title">About Workio</h4>
                        <p>Drizvato is a team of young professionals that has been successfully creating Creative Website templates already for several years.</p>
                        <a href="#" class="other-store-link">
                            <div class="other-store-app">
                                <div class="os-app-icon">
                                    <i class="ti-android"></i>
                                </div>
                                <div class="os-app-caps">
                                    Google Store
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-widget">
                        <h4 class="widget-title">Useful links</h4>
                        <ul class="footer-menu">
                            <li><a href="#">Browse Resume Grid</a></li>
                            <li><a href="#">Browse Jobs Grid</a></li>
                            <li><a href="#">Browse Candidate Grid</a></li>
                            <li><a href="#">Browse Resume Grid</a></li>
                            <li><a href="#">Browse Resume Grid</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="footer-widget">
                        <h4 class="widget-title">Get in Touch</h4>
                        <div class="fw-address-wrap">
                            <div class="fw fw-location">
                                7744 North Park, New York
                            </div>
                            <div class="fw fw-mail">
                                support@drizvato77.com
                            </div>
                            <div class="fw fw-call">
                                +91 254 584 7584
                            </div>
                            <div class="fw fw-skype">
                                drizvato77
                            </div>
                            <div class="fw fw-web">
                                www.drizvato.com
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="footer-widget">
                        <h4 class="widget-title">Follow Us</h4>
                        <p>Follow & Subscribe your email to get new business tips.</p>
                        <ul class="footer-bottom-social">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>

                        <form class="f-newsletter mt-4">
                            <input type="email" class="form-control sigmup-me" placeholder="Your Email Address" required="required">
                            <button type="submit" class="btn"><i class="ti-arrow-right"></i></button>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="container">
            <div class="row align-items-center">

                <div class="col-lg-12 col-md-12 text-center">
                    <p class="mb-0">© 2019 Workio. Designd By <a href="https://drizvato.com">Drizvato</a> All Rights Reserved</p>
                </div>

            </div>
        </div>
    </div>
</footer>