
<div class="topbar tp-rlt" id="top">
    <div class="header light">
        <div class="container po-relative">
            <nav class="navbar navbar-expand-lg header-nav-bar">
                <a href="@Url.Action("Index", "Home" )" class="navbar-brand">
                    <img src="~/img/logo.png" class="default-logo" alt="emplea.do" style="width:50px" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation"><span class="ti-align-right"></span></button>

                <div class="collapse navbar-collapse hover-dropdown font-14 ml-auto" id="navigation">
                    <ul class="navbar-nav ml-auto">

                        <li class="nav-item">
                            <a asp-controller="home" asp-action="index" class="nav-link">Inicio</a>
                        </li>

                        <li class="nav-item">
                            <a asp-controller="sponsors" asp-action="index" class="nav-link">Patrocinadores</a>
                        </li>

                        <li class="nav-item">
                            <a asp-controller="credits" asp-action="index" class="nav-link">Colaboradores</a>
                        </li>

                        @*<li class="nav-item">
                            <a asp-controller="companies" asp-action="index" class="nav-link">Compañías</a>
                        </li>*@

                        <li class="nav-item">
                            <a asp-controller="jobs" asp-action="index" class="nav-link">Empleos</a>
                        </li>

                    </ul>

                    <div class="act-buttons">
                        @if (User.Identity.IsAuthenticated)
                        {
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item dropdown">
                                <a class="btn btn-info font-14" href="#"><i class="fa fa-user"></i> @Context.User.Identity.Name <i class="fa fa-angle-down m-l-5"></i></a>
                                <ul class="b-none dropdown-menu font-14 animated fadeInUp">
                                    <li><a class="dropdown-item" asp-controller="userprofile" asp-action="index">Mi Perfil</a></li>
                                    <li><a class="dropdown-item" asp-controller="jobs" asp-action="wizard" >Publicar un empleo</a></li>
                                    <li>
                                        <div class="dropdown-divider"></div>
                                    </li>
                                    <li><a class="dropdown-item" asp-controller="account" asp-action="logout"><i class="fa fa-sign-out"></i> Cerrar sesión</a></li>
                                </ul>
                            </li>
                        </ul>
                        }
                        else
                        {
                            <a class="btn btn-info font-14" asp-controller="jobs" asp-action="wizard"><i class="fa fa-sign-in"></i> Inicia sesión</a>
                        }
                    </div>

                </div>
            </nav>
        </div>
    </div>
</div>