@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Domain.Job

<div class="job-new-list">
    <div class="vc-thumb">
        <img class="img-fluid rounded-circle" src="@Model.Company.LogoUrl" alt="c2.jpg">
    </div>
    <div class="vc-content">
        <h5 class="title"><a href="@Url.Action("Details", "Jobs", new { Id=Model.Id })">@Model.Title</a><span class="j-full-time">Full Time</span></h5>
        <p>Google Inc</p>
        <div class="rating-review">
            <i class="ti-star filled"></i>
            <i class="ti-star filled"></i>
            <i class="ti-star filled"></i>
            <i class="ti-star filled"></i>
            <i class="ti-star"></i>
        </div>
        <ul class="vc-info-list">
            <li class="list-inline-item"><h5>Sallery</h5> <i class="ti-credit-card"></i>$3.5k-$5k P.A</li>
            <li class="list-inline-item"><h5>Status</h5>3 days ago</li>
            <li class="list-inline-item">
                <h5>Skills</h5>
                <div class="skills">
                    <span>Html</span><span>Css3</span><span>photoshop</span><span>java</span><span>+3 more</span>
                </div>
            </li>
        </ul>
    </div>
    <a class="btn btn-outline-info bn-det" href="job-detail.html">Apply Now<i class="ti-arrow-right ml-1"></i></a>
</div>